
/* ============================================
   Theme Definitions
   Each palette has unique visual characteristics.
   ============================================ */

@import "./palettes/_root.css";

@import "./palettes/azure.css";

@import "./palettes/evergreen.css";

