/* PricingMinimal.css */

.c-pricing-minimal__card,
.c-pricing-minimal__card *,
.c-pricing-minimal__bento,
.c-pricing-minimal__bento *,
.c-pricing-minimal__pulse,
.c-pricing-minimal__btn-bg,
.c-pricing-minimal__icon {
  transition: all var(--duration-minimal-slow) var(--ease-minimal);
  transform: translateZ(0);
  backface-visibility: hidden;
}

.c-pricing-minimal__card:hover {
  transform: translateY(-16px) scale(1.03);
  background-color: hsl(var(--bc) / 0.1);
  border-color: hsl(var(--bc) / 0.4);
}

.c-pricing-minimal__bento:hover {
  transform: translateY(-12px) scale(1.05);
  border-color: hsl(var(--bc) / 0.4);
  background-color: hsl(var(--bc) / 0.08);
}
