/* FeaturesGlass.css */

.c-features-glass__row {
  opacity: 0;
  transform: translateY(15px);
  animation: fade-in-up-short 0.6s var(--ease-glass) forwards;
}

.c-features-glass__row:hover {
  z-index: 2;
}
